		* {
			margin: 0px;
			padding: 0px;
		}
		body, input{
		    margin: 0;
		    font-family: dosis;
		    color: #040b1b;
		    font-size: 16px;
		}
		/*div{
		  box-sizing:border-box;
		}*/
		.navbar {
			background-color: rgba(255,255,255,0);
			position: absolute;
			top: 0;
			z-index: 1000000;
			width: 100%;
			padding: 0px 5%;
			border: 0px;
			overflow: auto;
			min-height: 75px;
		}
		.navbar-brand {
			width: 65%;

		}
		.navbar-brand img {
			width: 50%;

		}
		.navbar-header {
			width: 100%;
		}
		.navbar-nav>li>a {
			/*padding-top: 22px !important;*/
			padding: 22px 15px 15px 15px !important;
			letter-spacing: .1em;
		}
		.navbar-nav>li>a:hover, .navbar-nav>li>a:focus {
			border-bottom: 2px solid #040b1b;
			/*transition: border-bottom .3s ease-in-out;*/
		}
		.navbar-default, .navbar-nav>li>a {
			color: #040b1b !important;

		}
		.navbar-toggle {
			margin-top: 15px;
			margin-bottom: 15px;
			border: 0;
		}
		.navbar-toggle:hover {
			background-color: #f3f3f3 !important;
		}
		.icon-bar {
			background-color: #040b1b !important;
		}
		
		.above-the-fold{
		  background-image: url('../img/fold.jpg');
		  background-size: cover;
		  /*color: white;*/
		  /*padding: 20px;*/
		  position: relative;
		  /*z-index: -3;*/
		 }
		
		.hero-logo {
			/*height: 40vh;*/
			position: relative;
			z-index: 2;
		}
		.tables {
			display: table;
			width: 100%;
			
		}
		.table-cell {
			display: table-cell;
			vertical-align: top;
			/*height: 350px;*/
			width: 39%;
			position: absolute;
			bottom: -500px;
			right: 0;
			/*background-color: #040b1b;*/
			color: #fff;
			padding: 2em;
			box-sizing: border-box;
			display: none;
		}
		.center {
			text-align: center !important;
		}
		.inline {
			display: inline;
		}
		.owl-nav {
			float: right;
		}
		.owl-prev, .owl-next {
			/*width: 50%;*/
			display: inline;
			
		}
		.table-cell2 {
			display: table-cell;
			vertical-align: top;
			/*height: 350px;*/
			width: 100%;
			position: absolute;
			bottom: -500px;
			left: 0;
			background: #040b1b;
			background: linear-gradient(10deg, #040b1b, #000);
			color: #fff;
			padding: 2em;
			box-sizing: border-box;
		}
		.flexbox {      
			/*display: -webkit-flex;        */
			/*display: -ms-flexbox;     */
			display: inline-block;
		}
		

		.cell4 {
			background: #f3f3f3;
			background: linear-gradient(10deg, #ddd, #fff);
			min-height: 400px;
			
		}
		.cell3 {
			background: #c2180f;
			background: linear-gradient(30deg, #c2180f, #e06019);
			color: #fff;
			
		}
		.cell5 {
			background: #040b1b;
			background: linear-gradient(90deg, #000, #040b1b);
				
			color: #fff;
			/*z-index: -2;*/
		}
		.cell6 {
			background: rgba(243,243,243,0.8);
			color: #040b1b !important;
			overflow: auto;
			/*width: 55%;*/
			/*opacity: 0.5;*/
		}
		.captdeli {
			background: #040b1b;
			color: #fff !important;
			background-image: url('../img/sky4dark.jpg');
			background-size: cover;
			transition: all .5s ease-in-out;
			/*transition: all .5s ease-in-out;*/
		}
		.font-large {
			font-size: 80px;
			/*vertical-align: middle;*/
			position: absolute;
			top: 40%;
			left: 45%;
		}
		.capt {
			/*height: 200px*/
			opacity: .8;
			transition: color .5s ease-in-out;
		} 
		.capt:hover, .capt:focus {
			opacity: 1;
			background: #c2180f;
			background: linear-gradient(30deg, #c2180f, #e06019);
			color: #fff;
			transition: color .5s ease-in-out;
		}
		hr {
			border-top: 1px dashed #c2180f;
			margin: 0 5em;
		}
		footer hr {
			border-top: 1px solid #f3f3f3;
			margin: 0 0;
		}
		.deli {
			/*height: 400px;*/
		}
		.soci {
			/*height: 80px;*/
			width: 20%;
			float: left;
			background: #040b1b;
		}
		.soci:hover {
			background: #f3f3f3;
			background: linear-gradient(10deg, #ddd, #fff);
		}
		.nopadmarg {
			padding: 0px !important;
			margin: 0px !important;
		}
		.nopadmarg2 {
			padding: 1em 2em !important;
			box-sizing: border-box;
			margin: 0px !important;
		}
		.nopad {
			padding: 20px 0 !important;
		}
		.mar {
			margin: 50px 0;
		}
		.clear {
			clear: both;
		}
		.hidden {
			display: none;
			position: absolute;
			bottom: 550px;
			left: 46%;
		}
		.visible {
			display: block;
			position: absolute;
			bottom: 550px;
			left: 46%;
		}
		.hidden-up {
			display: none;
			position: absolute;
			top: -50px;
			left: 46%;
		}
		.visible-up {
			display: block;
			position: absolute;
			top: -50px;
			left: 46%;
		}
		.hidden2 {
			display: none;
		}
		.visible2 {
			display: inline-block;
		}
		footer {
			position: relative;
		}
		.social {
			position: relative;
			height: 100%;
			margin-bottom: 30px;
		}
		.under-social {
			margin-top: 30px;
		}
		.social a {
			/*position: absolute;*/
		}
		ul {
			list-style: none;
		}
		small {
			font-size: 60%;
		}
		.arrowto { 
			margin-bottom: 13px;
			transition: opacity 1s ease-in-out;
			-webkit-transition-property: opacity;
			-webkit-transition-duration: 1s;
			-webkit-transition-timing-function: ease-in-out;
		}

		.parallax {
			height: 55vh;
			/*text-indent: -9999px;*/
			background-attachment: fixed;
			background-position: center center;
			background-size: cover;
			background-image: url('../img/stars.jpg');
			/*opacity: 0.6;*/
			color: #fff !important;
		}
		.parallax2 {
			height: 55vh;
			/*text-indent: -9999px;*/
			background-attachment: fixed;
			background-position: center center;
			background-size: cover;
			background-image: url('../img/auck.jpg');
			/*opacity: 0.6;*/
			/*color: #fff !important;*/
		}

		
		h1, h2, h3, h4 {
			letter-spacing: .4em;
			margin-top: 15px;
			font-weight: 400;
		}
		.darkblue {
			color: #040b1b;
		}
		.white {
			color: #f3f3f3;
			transition: color .5s ease-in-out;
		}
		.red {
			color: #c2180f;
		}
		a.white:hover {
			color: #c2180f;
			transition: color .5s ease-in-out;
		}
		.row {
			margin: 0px;
		}
		span p{
			background-color: #040b1b;
			color: #fff;
			font-size: 20px;
			padding: .3em 1em;
			margin: 1em 0;
			box-sizing: border-box;
		}
		.inverse{
			background-color: #fff;
			color: #040b1b;
			opacity: 0.8;
		}
		.margin {
			margin-top: 15px;
		}
		.container {
			padding: 100px 0px;
			width: 80%;
			margin: 0px auto;
			background-size: cover;
			overflow: auto;
		}
		.no-padding-bottom {
			padding-bottom: 0px !important
		}
		.no-padding-top {
			padding-top: 0px !important
		}
		.fly {
			background: #040b1b;
			background: linear-gradient(170deg, #040b1b, #000);
			/*padding-bottom: 200px !important;*/
			position: relative;
			overflow: auto;

		}
		.ozo {
			background: #f3f3f3;
			background: linear-gradient(10deg, #fff, #ddd);
			/*padding-bottom: 200px !important;*/
			position: relative;
			/*overflow: auto;*/
			color: #040b1b;
		}
		.fly .container {
			z-index: 2;
		}
		.imgozo, .imgfly {
			position: absolute;
			bottom: 0;
			z-index: 1;
			pointer-events: none;
		}
		.imghead {
			position: absolute;
			bottom: 0;
			z-index: 1;
			pointer-events: none;
		}
		.drone {
			/*background-image: url('img/fallback_sky.jpg');*/
			background: #f3f3f3;
			background: linear-gradient(10deg, #fff, #ddd);
		}
		.cluster {
			/*background-image: url('img/fallback_sky.jpg');*/
			background: #c2180f;
			background: linear-gradient(30deg, #c2180f, #e06019);
		}
		.process {
			/*background: linear-gradient(340deg, #fff, #ddd);*/
			/*background-image: url('../img/VR_CoverPage.jpg');*/
			/*background: linear-gradient(10deg, rgba(0,0,0,.5), rgba(0,0,0,.7)),url('../img/VR_CoverPage.jpg');
			background-size: cover;*/
			background-color: #f3f3f3;
			padding: 50px 0;
		}
		.moving-zone {
		    position: relative;
		    width:85%; height:985%;
		    margin: auto;
		    perspective: 800px;
		}
		.popup {
		    /*position: absolute;*/
		    padding: 10px;
		    box-sizing: border-box;
		    /*border-radius: 100%;*/
		    cursor: pointer;
		    transform-style: preserve-3d;
		}
		.popup-2 {
		    position: absolute;
		    padding: 10px;
		    box-sizing: border-box;
		    /*border-radius: 100%;*/
		    cursor: pointer;
		    transform-style: preserve-3d;
		    /*padding-left: 20%;*/
			left:20%; top:0% !important;
			 /*top: 200px; */
			transform: translateZ(100px) !important;
		}
		.popup-2 img {
			overflow: hidden;
		}
		.popup-content {
		    background: #000;
		    padding: 20px;
		    width:100%;
		    height: 100%;
		    box-sizing: border-box;
		}
		.test {
			color: #fff;
			/*height:200px;*/
			margin-bottom: 50px;
		}
		.popup img {
			position: relative;
		}
		.button{
		  clear: both;
		  /*position:relative;*/
		  display: inline-block;
		  float: right;
		}
		.button2{
		  clear: both;
		  /*position:relative;*/
		  display: inline-block;
		  float: left;
		}
		.btn {
			margin-top: 10px;
			padding: 0;
			border-radius: 10px;
		  	/*position: absolute;*/
		  	/*top: 0;
		  	right: 0;*/
		  	/*transform: translate(-50%, -50%);*/
		}
		.btn input {
		    border: 2px solid #040b1b;
		    border-radius: 10px;
		    color: #040b1b;
		    text-transform: uppercase;
		    background: none;
		    padding: .3em 1em;    
		    outline: none;
		    cursor: pointer;
		    transition: all .3s ease-in-out;
		    /*width: 177px;*/
		    font-size: 16px;
		}
		.btn input:hover {
		      background: #040b1b;
		      color: #fff;
		}
		.btn:focus {
			border: none;
		}
		.videoWrapper {
			position: relative;
			padding-bottom: 56.25%;
			padding-top: 25px;
			height: 0;
		}
		.videoWrapper iframe {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

	.navbar-collapse {
		background: rgba(255,255,255,0.95);
		text-align: center;
	}

@media screen and (min-width: 768px) {
	
	
	.nopadmarg2 {
			padding: 3em 5em !important;
			box-sizing: border-box;
			margin: 0px !important;
		}
	.navbar-header {
			width: 20%;
		}
	.navbar-brand img {
			width: 100%;
		}
	.navbar-brand {
			width: 100%;
			cursor: pointer;
		}
	.navbar-collapse {
		background: rgba(255,255,255,0);
	}

		
	
}

@media screen and (min-width: 992px) { 
	.soci {
		width: 100%;
		float: none;
	}
	.table-cell2 {
		width: 66.666%;
	}
	.table-cell {
		display: inline;
	}
	.flexbox {      
			display: -webkit-flex;        
			display: -ms-flexbox;     
			display: flex;
			overflow: hidden;
			/*flex-direction: row;*/
		}
		.table-cell3 {
			flex: 3;
		}
		.table-cell4 {
			flex: 4;
		}
		.table-cell5 {
			flex: 1.5;
		}
	.navbar-brand img {
			width: 80%;
		}
}
		
